<div class="about">
  <h1 class="about__heading">Our team</h1>
  <div class="about__container">
    <article>
      <img src="https://placekitten.com/300/300" alt="" />
      <div class="about__container">
        <h2>Serenity Wood</h2>
        <p>Digital Specialist</p>
        <a href="">serenity@company.com</a>
        <p>+1 456 789 123</p>
      </div>
    </article>
    <article>
      <img src="https://placekitten.com/300/300" alt="" />
      <div class="about__container">
        <h2>Serenity Wood</h2>
        <p>Digital Specialist</p>
        <a href="">serenity@company.com</a>
        <p>+1 456 789 123</p>
      </div>
    </article>
    <article>
      <img src="https://placekitten.com/300/300" alt="" />
      <div class="about__container">
        <h2>Serenity Wood</h2>
        <p>Digital Specialist</p>
        <a href="">serenity@company.com</a>
        <p>+1 456 789 123</p>
      </div>
    </article>
  </div>
</div>
