@import "../../../scss/main.scss";
@import "../../../scss/abstracts/mixins";

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include lg {
    padding: 4em;
  }

  &__heading {
    font-weight: 900;
    letter-spacing: 0.8px;
    color: $brand-color;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1.5em;
  }

  &__container {
    max-width: 1100px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 1em;

    @include md {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @include lg {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
}
