$brand-color: #002d50;
$body: #a5abb0;
$link: #63a6da;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 43em;

// Small tablets (portrait view)
$screen-md-min: 62em;

// Tablets and small desktops
$screen-lg-min: 82em;
